[Unit]
Description=Minecraft Server
After=network.target

[Service]
User=minecraft
Nice=1
KillMode=none
SuccessExitStatus=0 1
ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
WorkingDirectory=/opt/minecraft/server
ExecStart=/usr/bin/java -Xmx3G -Xms2G -XX:+UseConcMarkSweepGC -XX:+UseParNewGC -XX:+CMSIncrementalPacing -XX:ParallelGCThreads=2 -XX:+AggressiveOpts -jar /opt/minecraft/server.jar nogui
ExecStop= /opt/minecraft/tools/mcrcon/mcrcon -H 127.0.0.1 -P 25575 -p {{ rcon_passwd }} save-all
ExecStop= /bin/kill "$MAINPID"

[Install]
WantedBy=multi-user.target
