#! /bin/bash
/opt/minecraft/tools/mcrcon/mcrcon -H 127.0.0.1 -P 25575 -p {{ rcon_passwd }} save-all
/opt/minecraft/tools/mcrcon/mcrcon -H 127.0.0.1 -P 25575 -p {{ rcon_passwd }} stop
if [ "$MAINPID" ]
then
    /bin/kill -9 "$MAINPID"
fi
